<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unipd.dei.esp2021.simplebgplayer">

    <!--
    Since API level 28, apps wanting to use foreground services must request the
    FOREGROUND_SERVICE permission.
    This is a normal permission, so the system automatically grants it.
    https://developer.android.com/about/versions/pie/android-9.0-migration#tya
    -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpleBGPlayer">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".PlayerService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
